.cla{   
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.padds{
    padding-left: 20px;
    padding-right: 20px;
}

.flex{
    display: flex;
}

.center{
    justify-content: space-between;

}

.center2{
    justify-content: center;
}